* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1d1d1d;
}

header {
    height: 80vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(219, 11, 94, 0.781),
        rgba(111, 0, 237, 0.705)
     ), 
     url(cycleman.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(100% 0, 100% 36%, 86% 77%, 0 58%, 0 0);
}

header h1{
    color: #FFFFFF;
    font-size: 70px;
    padding-top: 15%;
    padding-left: 15%;
}

header p {
    color: #FFFFFF;
    padding-left: 30%;
}